<footer class="footer text-center hidden">
    <a href="tel:713 614 8335" class="has-inverted-colors block font-medium md:hidden mb-2 editable"> (713) 565-0049 </a>
    <a href="mailto:jackson@dunbarbeddingfield.com" class="has-inverted-colors block font-medium md:hidden mb-10 editable">jackson@dunbarbeddingfield.com </a>
    <a href="https://monogram.io" id="m" title="Made by Monogram" target="_blank" rel="author" class="inline-block mx-auto editable">
        <img src="assets/svg/monogram-logo.svg" alt="Monogram" class="editable">
        <span class="sr-only editable">Made by Monogram</span>
    </a>
</footer>