<footer class="footer text-center">
    <div class="footer-content editable">
        <p class="copyright editable">&copy; 2023 Dunbar Beddingfield. All rights reserved.</p>
    </div>
    <a href="https://monogram.io" id="m" title="Made by Monogram" target="_blank" rel="author" class="inline-block mx-auto editable">
        <img src="assets/svg/monogram-logo.svg" alt="Monogram" class="editable">
        <span class="sr-only editable">Made by Monogram</span>
    </a>
</footer>