<header class="max-w-screen-xl mx-auto grid grid-cols-2 md:grid-cols-3 items-center py-8 px-12 z-10 editable" id="site-header">
    <div class="header-contact text-white"> </div>
        <a class="logo text-gray-900" href="/">
        <div class="font-serif text-3xl mb-1"> Dunbar </div>
        <div class="text-lg" style="letter-spacing: 5px;"> Beddingfield </div>
    </a>
    <div class="flex justify-end editable">
        <a href="#nav" title="Open navigation" @click="navIsOpen = !navIsOpen" class="ice-cubes is-light editable" data-target="navigation">
            <span></span> <span></span> <span></span><span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
            <div class="sr-only editable"> Open navigation </div>
        </a>
        <nav id="navigation" class="text-white editable">
            <div id="main-nav-overlay">
                <div class="nav-box">
                    <a href="/" class="nav-link editable"> Home </a>
                    <a href="risk-management" class="nav-link editable"> Risk Management </a>
                    <a href="safety-consulting" class="nav-link editable"> Safety Consulting </a>
                    <a href="property-casualty" class="nav-link editable"> Property and Casualty </a>
                    <a href="business-development" class="nav-link editable"> Business Development </a>
                    <a href="about" class="nav-link editable"> Who We Serve and How we Help </a>
                    <a href="staff" class="nav-link editable"> Key Players </a>
                    <a href="quote" class="nav-link editable"> Get a Quote </a>
                </div>
            </div>
        </nav>
    </div>
</header>