---
layout: base
title: Dunbar Beddingfield
description: >-
  Dunbar Beddingfield offers solutions that reduce risk and liability so you can reach your goals and feel confident about the future.
keywords: >-
  risk management, safety consulting, property and casualty, business development
---

{% block head %}
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <meta name="description" class="editable"
        content="Dunbar Beddingfield offers solutions that reduce risk and liability so you can reach your goals and feel confident about the future.">
    <meta name="keywords" class="editable" content="">
    <meta name="google-site-verification" content="">
    <link href="/assets/styles/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="/assets/styles/fonts.css" rel="stylesheet">
    <!-- <script src="/assets/js/50b273893e.js"></script> -->
    <link rel="stylesheet" href="/assets/styles/main.css?v=1623096610">
    <!-- <link rel="apple-touch-icon" href="index-1.html" sizes="180x180">
    <link rel="icon" href="index-2.html" sizes="32x32" type="image/png">
    <link rel="icon" href="index-3.html" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="index-4.html" color="#293240"> -->
    <link rel="manifest" href="site.webmanifest">
    <meta name="apple-mobile-web-app-title" content="Dunbar Beddingfield">
    <meta name="application-name" content="Dunbar Beddingfield">
    <meta name="msapplication-TileColor" content="#293240">
    <meta name="theme-color" content="#293240">
    <meta property="og:url" content="https://dunbarbeddingfield.com/about/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Who We Are - Dunbar Beddingfield">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://dunbarbeddingfield.com/assets/img/og-image.jpg">
    <script src="/assets/js/alpine.min.js" defer="defer"></script>
{% endblock %}

{% block content %}
    {% include "components/header-gray-both.njk" %}
    <main id="content" rel="main">
        <div class="grid grid-cols-1 md:grid-cols-3 max-w-screen-xl mx-auto mt-40 px-10 editable">
            <div class="box pt-20 justify-start flex flex-col col-span-1 bg-gray-900 text-white md:pr-24 editable">
                <h1 class="text-xl font-semibold mb-8"> Who We Serve and How We Help </h1>
                <div class="rich-text text-base text-white opacity-50">
                    <p>We have big clients and partners but offer a small business focus: </p>
                    <p>Local restaurants, apartment buildings, and contractors are a special focus for us. </p>
                    <p>Find out more about how we can take big company ideas and create small business success.</p>
                </div> <a href="tel:713 614 8335" class="inline-block md:hidden mt-6 editable"> (713) 565-0049 </a> <a
                    href="mailto:jackson@dunbarbeddingfield.com" class="inline-block md:hidden editable">
                    jackson@dunbarbeddingfield.com </a>
            </div>
            <div class="col-span-2 grid grid-cols-1 md:grid-cols-2 gap-1 editable">
                <div class="box text-center text-gray-900 col-span-2 bg-white editable">
                    <h2 class="text-xl font-semibold mb-6"> Our consulting corporate clients include: </h2>
                    <div class="flex flex-wrap items-center justify-center editable"> <img
                            src="/assets/svg/Exxon_Mobil_Logo.svg?auto=compress,format&rect=0,0,108,20&w=250&h=46"
                            alt="" class="px-4 py-2 editable"> <img
                            src="/assets/images/Walmart_logo.svg?auto=compress,format&rect=0,0,119,31&w=250&h=65"
                            alt="" class="px-4 py-2 editable"> <img
                            src="/assets/svg/MassMutual_logo.svg?auto=compress,format&rect=1,0,125,15&w=250&h=30"
                            alt="" class="px-4 py-2 editable"> <img
                            src="/assets/svg/American_Express_logo_(2018).svg?auto=compress,format&rect=0,0,41,41&w=250&h=250"
                            alt="" class="px-4 py-2 editable"> <img
                            src="/assets/svg/Kiewit_Logo.svg?auto=compress,format&rect=0,0,100,41&w=250&h=103"
                            alt="" class="px-4 py-2 editable"> <img
                            src="/assets/svg/Sherwin_Williams.svg?auto=compress,format&rect=0,0,43,61&w=250&h=355"
                            alt="" class="px-4 py-2 editable"> <img
                            src="/assets/svg/Shell_logo.svg?auto=compress,format&rect=0,0,40,37&w=250&h=231"
                            alt="" class="px-4 py-2 editable"> <img
                            src="/assets/svg/Oracle_logo.svg?auto=compress,format&rect=0,0,108,14&w=250&h=32"
                            alt="" class="px-4 py-2 editable"> <img
                            src="/assets/svg/Bank_of_America_logo.svg?auto=compress,format&rect=0,0,219,22&w=250&h=25"
                            alt="" class="px-4 py-2 editable"> <img
                            src="/assets/svg/General_Electric_logo.svg?auto=compress,format&rect=0,0,44,44&w=250&h=250"
                            alt="" class="px-4 py-2 editable"> </div>
                    <p class="mt-6"> ...and almost all of the Fortune 500 </p>
                </div>
                <div class="box rich-text justify-start items-start text-gray-900 bg-white">
                    <h2 class="title is-3">Associations include:</h2>
                    <p class="">National Safety Council</p>
                    <p class="">Texas Rental Association</p>
                    <p class="">Texas Bar Association</p>
                    <p class="">Houston Apartment Association</p>
                </div>
                <div class="box rich-text justify-start items-start text-gray-900 bg-white editable">
                    <h2 class="title is-3">Food and beverage franchise clients include:</h2>
                    <figure> <img
                            class="editable"
                            src="/assets/images/f-b-clients-540x276.webp?auto=compress,format"
                            alt="Unlabeled image from blog post called: " data-pin-do="buttonPin"
                            data-pin-media="https://images.prismic.io/assets/images/f-b-clients-540x276.webp?auto=compress,format"
                            data-pin-url="https://dunbarbeddingfield.com/about/"> </figure>
                </div>
            </div>
        </div>
    </main>
    {% include "components/footer-monogram-gray.njk" %}
{% endblock %}

{% block scripts %}
    <script src="/assets/js/loadComponents.js"></script>
{% endblock %}