---
layout: base
title: Dunbar Beddingfield
description: Dunbar Beddingfield offers solutions that reduce risk and liability so you can reach your goals and feel confident about the future.
keywords: risk management, safety consulting, property and casualty, business development
---

<div id="home">
    <section>
        <p class="text-center font-light" style="max-width: 325px;">
            Dunbar Beddingfield offers solutions that reduce risk and liability so you can reach your goals and feel confident about the future
        </p>
        <hr class="my-10 border-gray-300 w-full">
        <h2 class="uppercase text-sm font-semibold tracking-wider mb-10">Our services include</h2>
        <nav>
            <a href="risk-management" class="service-button">
                <div class="service-button-header" style="background-color: #d2472a;">
                    <i class="fas fa-exclamation-triangle mr-3"></i> Risk Management
                </div>
                <div class="service-button-main bg-blur">
                    Mitigating disasters and setting yourself up to be prepared and protected
                    <i class="fas fa-chevron-right ml-6"></i>
                </div>
            </a>
            <a href="safety-consulting" class="service-button">
                <div class="service-button-header" style="background-color: #e98628;">
                    <i class="fas fa-hard-hat mr-3"></i> Safety Consulting
                </div>
                <div class="service-button-main bg-blur">
                    Creating a culture that provides a safer environment for employees and customers
                    <i class="fas fa-chevron-right ml-6"></i>
                </div>
            </a>
            <a href="property-casualty" class="service-button">
                <div class="service-button-header" style="background-color: #e3d253; color: #4d4400;">
                    <i class="fas fa-building mr-3"></i> Property and Casualty
                </div>
                <div class="service-button-main bg-blur">
                    Finding the right insurance carrier and making sure you get the results you want
                    <i class="fas fa-chevron-right ml-6"></i>
                </div>
            </a>
            <a href="business-development" class="service-button">
                <div class="service-button-header" style="background-color: #677387;">
                    <i class="fas fa-handshake mr-3"></i> Business Development
                </div>
                <div class="service-button-main bg-blur">
                    Having the influence to drive your business forward is the key to success
                    <i class="fas fa-chevron-right ml-6"></i>
                </div>
            </a>
        </nav>
        <footer class="home-footer">
            <a href="tel:713 565-0049">(713) 565-0049</a>
            <span class="hidden md:inline-block text-gray-500 mx-1">•</span>
            <a href="mailto:jackson@dunbarbeddingfield.com">jackson@dunbarbeddingfield.com</a>
        </footer>
    </section>
</div>
