﻿<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title> Risk Management - Dunbar Beddingfield </title>
	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
	<meta name="description"
		content="Dunbar Beddingfield offers solutions that reduce risk and liability so you can reach your goals and feel confident about the future.">
	<meta name="keywords" content="">
	<meta name="google-site-verification" content="">
	<link href="assets/styles/fonts.css" rel="stylesheet">
	<!-- <script src="assets/js/50b273893e.js"></script> -->
	<link rel="stylesheet" href="assets/styles/main.css?v=1623096610">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- <link rel="apple-touch-icon" href="index-1.html" sizes="180x180">
	<link rel="icon" href="index-2.html" sizes="32x32" type="image/png">
	<link rel="icon" href="index-3.html" sizes="16x16" type="image/png">
	<link rel="mask-icon" href="index-4.html" color="#293240"> -->
	<link rel="manifest" href="site.webmanifest">
	<meta name="apple-mobile-web-app-title" content="Dunbar Beddingfield">
	<meta name="application-name" content="Dunbar Beddingfield">
	<meta name="msapplication-TileColor" content="#293240">
	<meta name="theme-color" content="#293240">
	<meta property="og:url" content="https://dunbarbeddingfield.com/risk-management/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Risk Management - Dunbar Beddingfield">
	<meta property="og:description" content="">
	<meta property="og:image" content="https://dunbarbeddingfield.com/assets/img/og-image.jpg">
	<script src="assets/js/alpine.min.js" defer="defer"></script>
</head>

<body x-data="{ navIsOpen: false }" :class="{ 'nav-is-open': navIsOpen }" class="bg-gray-900 risk-management">
	<div data-include="components/header-white.html"></div>
	<main id="content" rel="main">
		<div class="md:grid grid-cols-3 max-w-screen-xl mx-auto mt-40 px-10">
			<header class="box leading-relaxed text-white" style="background-color: #d2472a;"> <i
					class="text-3xl mb-4 fas fa-exclamation-triangle"></i>
				<h1 class="text-2xl mb-2"> Risk Management </h1>
				<p class="font-medium text-base"> We provide more than just the steps to reduce your risks. We also give
					you the guidance and tools to make the process easy and repeatable. </p> <a href="quote"
					class="button mt-6 font-medium border-2 border-white border-opacity-25 rounded-md py-2 px-4 self-start bg-white hover:bg-transparent hover:text-white hover:border-current transition duration-300 ease-in-out"
					title="Contact us for additional information or pricing"> <i class="fas fa-comment mr-1"></i> Get a
					price quote now </a>
			</header>
			<div class="box rich-text bg-white">
				<p>Beyond the forecasting and risk evaluation to help you dramatically reduce an incident’s impact (and
					we have the resources to do all that very well), we look at analytics and historical data up front
					to prevent wasted time and effort.</p>
			</div>
			<div class="box rich-text bg-gray-600 bg-opacity-50 text-white">
				<h2 class="title is-3">Like a team of trial lawyers </h2>
				<p>We do comparative studies and often find out that we don’t have to reinvent the wheel to successfully
					put you in the least risky situation possible.</p>
			</div>
		</div>
		<style>
			.button:not(:hover) {
				color: #d2472a !important;
			}
		</style>
	</main>
	<div class="bg"
		style="background-image: url('assets/images/construction-workers-at-night-2000x1172.webp')">
	</div>
	<div data-include="components/footer-monogram.html"></div>

	<script src="assets/js/loadComponents.js"></script>
	<!-- <script src="assets/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="assets/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
	<script src="assets/ajax/libs/gsap/3.4.0/ScrollToPlugin.min.js"></script>
	<script src="assets/js/recaptcha/api.js" async="" defer="defer"></script>
	<script src="assets/js/core.js?v=1623096610"></script> -->
</body>

</html>
