<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title> Safety Consulting - Dunbar Beddingfield </title>
	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
	<meta name="description"
		content="Dunbar Beddingfield offers solutions that reduce risk and liability so you can reach your goals and feel confident about the future.">
	<meta name="keywords" content="">
	<meta name="google-site-verification" content="">
	<link href="assets/styles/fonts.css" rel="stylesheet">
	<!-- <script src="assets/js/50b273893e.js"></script> -->
	<link rel="stylesheet" href="assets/styles/main.css?v=1623096610">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- <link rel="apple-touch-icon" href="index-1.html" sizes="180x180">
	<link rel="icon" href="index-2.html" sizes="32x32" type="image/png">
	<link rel="icon" href="index-3.html" sizes="16x16" type="image/png">
	<link rel="mask-icon" href="index-4.html" color="#293240"> -->
	<link rel="manifest" href="site.webmanifest">
	<meta name="apple-mobile-web-app-title" content="Dunbar Beddingfield">
	<meta name="application-name" content="Dunbar Beddingfield">
	<meta name="msapplication-TileColor" content="#293240">
	<meta name="theme-color" content="#293240">
	<meta property="og:url" content="https://dunbarbeddingfield.com/safety-consulting/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Safety Consulting - Dunbar Beddingfield">
	<meta property="og:description" content="">
	<meta property="og:image" content="https://dunbarbeddingfield.com/assets/img/og-image.jpg">
	<script src="assets/js/alpine.min.js" defer="defer"></script>
</head>

<body x-data="{ navIsOpen: false }" :class="{ 'nav-is-open': navIsOpen }" class="bg-gray-900 safety-consulting">
	<div data-include="components/header-white.html"></div>
	<main id="content" rel="main">
		<div class="md:grid grid-cols-3 max-w-screen-xl mx-auto mt-40 px-10">
			<header class="box leading-relaxed text-white" style="background-color: #e98628;"> <i
					class="text-3xl mb-4 fas fa-hard-hat"></i>
				<h1 class="text-2xl mb-2"> Safety Consulting </h1>
				<p class="font-medium text-base"> Creating a culture that provides a safer environment for employees and
					customers </p> <a href="quote"
					class="button mt-6 font-medium border-2 border-white border-opacity-25 rounded-md py-2 px-4 self-start bg-white hover:bg-transparent hover:text-white hover:border-current transition duration-300 ease-in-out"
					title="Contact us for additional information or pricing"> <i class="fas fa-comment mr-1"></i> Get a
					price quote now </a>
			</header>
			<div class="box rich-text bg-gray-600 bg-opacity-50 text-white row-span-2">
				<p>Our goal is for your people to go home healthy every day. From basic advisement to formal training on
					how to work safely, we get them there.</p>
				<h2 class="title is-3">Safety services include</h2>
				<ul>
					<li>Onsite training and inspections (for insurance purposes or general education)</li>
					<li>Keynotes and breakout sessions at your organization’s safety meetings</li>
					<li>Full-scale development of a safety culture, from employee assessments to Caterpillar Safety. We
						partner with CAT and can guide you through their award-winning program.</li>
				</ul>
				<figure> <img
						src="assets/svg/Caterpillar_logo.svg?auto=compress,format"
						alt="Unlabeled image from blog post called: Safety Consulting" data-pin-do="buttonPin"
						data-pin-media="https://images.prismic.io/assets/svg/Caterpillar_logo.svg?auto=compress,format"
						data-pin-url="https://dunbarbeddingfield.com/safety-consulting/"> </figure>
			</div>
			<div class="box rich-text bg-white">
				<p>In the end, safety is a team sport. We all participate in making it happen every day. </p>
				<p>&quot;Safety is more than just following the rules and spreading the message. It&#39;s about having
					the kind of relationships where we automatically look out for each other!&quot;</p>
			</div>
			<div class="box rich-text bg-white">
				<p>Safety is not a priority! Priorities can change. But safety has remained a core value since the
					foundation of civilization. If it becomes anything less than a core value, complacency is the
					result. Complacency breeds arrogance! When you stop getting better, you start getting hurt.</p>
			</div>
			<div class="box rich-text bg-gray-900 bg-opacity-50 text-white">
				<p>As powerful as these words are, safety truly begins with situational awareness and being present in
					the moment. If your frontline supervisors or managers don’t buy into safety, you do not have a
					safety culture. Getting these key players to believe is crucial.</p>
			</div>
		</div>
		<style>
			.button:not(:hover) {
				color: #e98628 !important;
			}
		</style>
	</main>
	<div class="bg"
		style="background-image: url('assets/images/three-brown-high-rise-buildings-3-1999x1171.webp')">
	</div>
	<div data-include="components/footer-monogram.html"></div>

	<script src="assets/js/loadComponents.js"></script>
	<!-- <script src="assets/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="assets/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
	<script src="assets/ajax/libs/gsap/3.4.0/ScrollToPlugin.min.js"></script>
	<script src="assets/js/recaptcha/api.js" async="" defer="defer"></script>
	<script src="assets/js/core.js?v=1623096610"></script> -->
</body>

</html>