﻿﻿﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title> Key Players - Dunbar Beddingfield </title>
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <meta name="description"
        content="Dunbar Beddingfield offers solutions that reduce risk and liability so you can reach your goals and feel confident about the future.">
    <meta name="keywords" content="">
    <meta name="google-site-verification" content="">
    <link href="assets/styles/fonts.css" rel="stylesheet">
    <!-- <script src="assets/js/50b273893e.js"></script> -->
    <link rel="stylesheet" href="assets/styles/main.css?v=1623096610">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="apple-touch-icon" href="index-1.html" sizes="180x180">
    <link rel="icon" href="index-2.html" sizes="32x32" type="image/png">
    <link rel="icon" href="index-3.html" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="index-4.html" color="#293240"> -->
    <link rel="manifest" href="site.webmanifest">
    <meta name="apple-mobile-web-app-title" content="Dunbar Beddingfield">
    <meta name="application-name" content="Dunbar Beddingfield">
    <meta name="msapplication-TileColor" content="#293240">
    <meta name="theme-color" content="#293240">
    <meta property="og:url" content="https://dunbarbeddingfield.com/staff/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Key Players - Dunbar Beddingfield">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://dunbarbeddingfield.com/assets/img/og-image.jpg">
    <script src="assets/js/alpine.min.js" defer="defer"></script>
</head>

<body x-data="{ navIsOpen: false }" :class="{ 'nav-is-open': navIsOpen }" class="bg-gray-200 staff">
    <div data-include="components/header-gray-both.html"></div>
    <main id="content" rel="main">
        <div class="grid grid-cols-1 md:grid-cols-3 max-w-screen-xl mx-auto mt-40 px-10">
            <div class="box pt-20 justify-start flex flex-col col-span-1 bg-gray-900 text-white md:pr-24"> <i
                    class="text-3xl mb-4 fas fa-users"></i>
                <h1 class="text-xl font-semibold mb-8"> Key Players </h1>
                <p class="text-base text-white opacity-50 mb-8 flex-1"> We blend over 150 years of experience with the
                    latest data, tools, ideas and technology </p>
            </div>
            <div class="col-span-2 grid grid-cols-1 md:grid-cols-3 gap-2">
                <div class="box bg-white leading-6">
                    <h2 class="font-semibold text-base mb-4"> Jeff Tobaben </h2>
                    <p class="mb-4 pb-4 border-b"> Engagement and Research Director </p>
                    <p> Former managing partner at Gallup </p>
                </div>
                <div class="box bg-white leading-6">
                    <h2 class="font-semibold text-base mb-4"> Jackson Sturtevant </h2>
                    <p class="mb-4 pb-4 border-b"> Partner, Property & Casualty </p>
                    <p> Insurance, Tax & Accounting specialist </p>
                </div>
                <div class="box bg-white leading-6">
                    <h2 class="font-semibold text-base mb-4"> Garrison Wynn </h2>
                    <p class="mb-4 pb-4 border-b"> Partner, safety/risk analyst </p>
                    <p> Bestselling author & safety consultant </p>
                </div>
                <div class="box bg-white leading-6">
                    <h2 class="font-semibold text-base mb-4"> Ginger Daily </h2>
                    <p class="mb-4 pb-4 border-b"> Director of Marketing </p>
                    <p> Google Ad-words & SEO Pioneer </p>
                </div>
                <div class="box bg-white leading-6">
                    <h2 class="font-semibold text-base mb-4"> Karol Grove </h2>
                    <p class="mb-4 pb-4 border-b"> Weather Disaster Specialist </p>
                    <p> Top Flood-Plain expert and land surveyor </p>
                </div>
            </div>
        </div>
    </main>
	<div data-include="components/footer-monogram-gray.html"></div>

    <script src="assets/js/loadComponents.js"></script>
    <!-- <script src="assets/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="assets/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
    <script src="assets/ajax/libs/gsap/3.4.0/ScrollToPlugin.min.js"></script>
    <script src="assets/js/recaptcha/api.js" async="" defer="defer"></script>
    <script src="assets/js/core.js?v=1623096610"></script> -->
</body>

</html>
