<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    {% block head %}{% endblock %}
</head>

<body x-data="{{ bodyXData}}" :class="{{ bodyBindClass }}" class="{{ bodyClass }}">
    
    {% block content %}
        {{ content | safe }}
    {% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>
